on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "!.github/workflows/*.yml"

  pull_request:
    paths-ignore:
      - "**.md"
      - "!.github/workflows/*.yml"

name: General

jobs:
  ubuntu-latest-pipeline:
    runs-on: ubuntu-latest
    timeout-minutes: 120

    name: ubuntu-latest-pipeline
    steps:
      - uses: actions/checkout@v3

      - name: Install active toolchain
        run: rustup install

      - name: Install nightly toolchain for rustfmt
        run: rustup install nightly --profile minimal --component rustfmt

      - name: lint - ubuntu-latest
        run: chmod 777 ./ci_scripts/lint-ubuntu.sh && ./ci_scripts/lint-ubuntu.sh
      - name: test ubuntu-latest
        if: success() || failure()
        run: chmod 777 ./ci_scripts/test-ubuntu.sh && ./ci_scripts/test-ubuntu.sh